.imagediv {
  width: 150px;
  display: flex;
}
.imagediv img {
  width: 100%;
}
.image-container {
  display: flex;
  gap: 10px;
}
.singleproductcontainer {
  padding: 40px;
  width: 400px;
  min-height: 300px;
  box-shadow: 1px 2px 5px black;
  border-radius: 15px;
}
/* .allproductscontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 10px;
  justify-content: space-between;
} */

.allproductscontainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  padding: 40px;
}
